<h1> Ingresar Nuevo </h1>
<form action="/restaurants" method="post">

<label for="name">Nombre</label>
<input type="text" id="name" name="name">

<label for="address">Dirección</label>
<input type="text" id="address" name="address">

<label for="city">Ciudad</label>
<input type="text" id="city" name="city">

<label for="phone_number">Teléfono</label>
<input type="text" id="phone_number" name="phone_number">

<label for="type_food">Tipo de Comida</label>
<input type="text" name="type_food">

<label for="image_url">Imagen</label>
<input type="text" name="image_url">

<input type="submit" value="Enviar">

</form>
